*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}

#canvas-1 {
    border: 5px solid rgb(51, 51, 51);
    background-color: #bc4d65;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

#layer1, #layer2, #layer3, #layer4, #player, #angler1, #angler2, #lucky{
    display: none;
}